src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
                        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config
        name="api-config"
        api="api.raml"
        outboundHeadersMapName="outboundHeaders"
        httpStatusVarName="httpStatus" />
    <flow name="api-main">
        <http:listener
            config-ref="api-http-listener-config"
            path="/api/*">
            <http:response
                statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response
                statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler ref="api-error-handler" />
    </flow>
    <flow name="api-console">
        <http:listener
            config-ref="api-http-listener-config"
            path="/console/*">
            <http:response
                statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response
                statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler ref="console-error-handler" />
    </flow>
    <flow name="get:\OTests:api-config">
        <logger
            level="INFO"
            message="get:\OTests:api-config" />
    </flow>
    <flow name="post:\OTests:application\json:api-config">
        <logger
            level="INFO"
            message="post:\OTests:application\json:api-config" />
    </flow>
    <flow name="put:\OTests\(Id):application\json:api-config">
        <ee:transform
            xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="Id">attributes.uriParams.Id
                </ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger
            level="INFO"
            message="put:\OTests\(Id):application\json:api-config" />
    </flow>
    <flow name="delete:\OTests\(Id):api-config">
        <ee:transform
            xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="Id">attributes.uriParams.Id
                </ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger
            level="INFO"
            message="delete:\OTests\(Id):api-config" />
    </flow>
    <flow name="get:\OTests\(Id):api-config">
        <ee:transform
            xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="Id">attributes.uriParams.Id
                </ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger
            level="INFO"
            message="get:\OTests\(Id):api-config" />
    </flow>
</mule>
